DATABASE_URL=postgresql://user:password@host:port/dbname

TELEGRAM_BOT_TOKEN=your-bot-token-from-botfather
TELEGRAM_CHANNEL_ID=-1001234567890

SECRET_KEY=generate-a-new-one-with-get_random_secret_key
DEBUG=False
